


body{
    background-image: url(../images11/3.jpg);
}


div.image.image{
    /* width: 100%;
    height: 700px; */
    direction: rtl;
}
div .img-1{
     width: 300px;
    height: 150px;
    object-fit: contain;
}
div .img-2{
    width: 500px;
    height: 400px;
    object-fit: cover;
    position: relative;

}
div .img-3{
    width: 200px;
    height: 130px;
    object-fit: scale-down;
    position: absolute;
    
}
div .img-4{
    width: 600px;
    height: 100px;
    object-fit: none;
}


.container{
   max-width: 1280px; 
    min-height: 600px;
    background-color: #efefef;
    margin: 120px auto;
    position: relative;
}
section{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.obtain{
    width: 300px;
    margin: 50px auto;
    background-color: hsl(297, 100%, 50%);
    height: auto;
    padding: 10px;
    border-radius: 15px;
    /* overflow: auto; */
}
.obtain input{
    display: block;
    margin-bottom: 15PX;
    width: 100%;
    box-sizing: border-box;
    height: 20px;
    border: none;
    padding: 10px;
    border-radius: 2px;
}
/* .obtain input:hover{

} */
.obtain input::placeholder{
    color: rgb(0, 0, 0);
    font-family:sans-serif;
}
.obtain button{
    border: none;
    background-color:#d911e3;
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    margin: auto;
    /* float: right; */
}
.obtain button:hover{
    color: #6a0d6e;
    cursor: pointer;

}
.obtain h3{
    margin: 10px auto ;
    font-size: 26px;
    text-align: center;

}
.obtain input.chek{
    height: 15px;
    width: 15px;
    background-color: #d911e3;
    margin: 10px auto;
}
.obtain .btn{
    text-align: center;
}
/* .obtain div.ttbt{
    text-align: center;
} */



